@font-face {
    font-family: 'nemode_demoregular';
    src: url('../fonts/demo-ne-webfont.eot');
    src: url('../fonts/demo-ne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/demo-ne-webfont.woff') format('woff'),
         url('../fonts/demo-ne-webfont.ttf') format('truetype'),
         url('../fonts/demo-ne-webfont.svg#nemode_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#welcome {

	font-family: 'nemode_demoregular', serif;
	text-align: center;
	height: 10em; width: 18em;
	margin-top: -5em; margin-left: -9em;
	top: 50%; left: 50%;
	position: fixed;
	color: white;
}

#welcome h1 {
	text-shadow: 5px 5px black;
	margin: 0 0 -10px 0;
	font-size: 100px;
}

.button {
	font-size: 14px;
	font-weight: bold;
	color: black;
	background-color: #E89999;
	border: 1px solid #E89999;
	border-radius: 5px;
	margin: 5px 0px 5px 0;
	padding: 5px 15px 5px 15px;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
}

.button:hover {
	cursor: pointer;
	color: white;
	background-color: #943A3A;
	border: 1px solid #943A3A;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
}

.form {
	text-align: center;
	display: none;
}

.form p {
	font-size: 46px;
	margin: 0;
}

.form input {
	background: #2c4b5f;
	font-size: 16px;
	font-family: 'nemode_demoregular', serif;
	text-align: center;
	font-weight: bold;
	border: 5px solid white;
	color: white;
	margin: 0 0 5px 0;
	padding: 5px;
	width: 268px;
}

input:focus {
	outline: none;
}

#logged_in {
	position: fixed;
	display: none;
}