#welcome {
	font-family: 'Lato', serif;
	text-align: center;
	height: 10em; width: 18em;
	margin-top: -5em; margin-left: -9em;
	top: 50%; left: 50%;
	position: fixed;
	color: white;
}

#welcome h1 {
	margin: 0;
	font-size: 100px;
}

.button {
	font-size: 14px;
	font-weight: bold;
	color: black;
	background-color: #E89999;
	border: 1px solid #E89999;
	border-radius: 5px;
	margin: 5px 10px 5px 0;
	padding: 5px 15px 5px 15px;
	transition: .3s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
}

.button:hover {
	cursor: pointer;
	color: white;
	background-color: #943A3A;
	border: 1px solid #943A3A;
}

.form {
	text-align: center;
	display: none;
	opacity: 0;
}

.form h4 {
	margin: 0;
}

.form input {
	border: none;
	text-align: center;
}

#logged_in {
	display: none;
}